.notify-notification {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 2000;
    overflow: auto;
    outline: 0;
    transition: all 0.3s ease;
    font-size: 14px;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Arial, Ubuntu, Roboto, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    &-dialog {
        position: relative;
        width: auto;
        max-width: 400px;
        margin: 20px;
    }

    &-content {
        position: relative;
        background-color: $notify-color-background;
        background-clip: padding-box;
        border-radius: 3px;
        outline: 0;
        box-shadow: none;
        border: none;
    }

    &-btn {
        display: block;
    }

    &-close-btn {
        padding: 5px 10px;
        font-family: Lato, sans-serif;
        font-weight: 600;
        color: hsl(218, 20%, 39%);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
            background-color: hsl(228, 14%, 93%);
            cursor: pointer;
            border-radius: 4px;
        }
    }

    /**
     * Expands to va-notify-fade va-notify-in
     */
    &-fade#{&}-in {
        opacity: 1 !important;
    }

    /**
     * fade-right
     */
    &-fade-right &-content {
        opacity: 0;
        transform: translateX(20px);
        transition: transform 0.3s, opacity 0.3s;
    }

    &-fade-right#{&}-in &-content {
        opacity: 1;
        transform: translateX(0);
        box-shadow: rgba(9, 30, 66, 0.08) 0px 1px 2px 0px,
        rgba(9, 30, 66, 0.08) 0px 2px 4px, rgba(9, 30, 66, 0.31) 0px 3px 20px -5px;
    }

    &-fade-right#{&}-out &-content {
        opacity: 0;
        transform: translateX(20px);
    }

    @mixin notify-content-inner-mixin($type, $borderColor) {
        .notify-notification-content-inner-#{$type} {
            display: flex;
            flex-direction: row;

            &-left {
                flex-basis: 40px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                text-align: center;
                border-left: 3px solid $borderColor;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            &-right {
                flex: 1;
                padding: 20px;

                &-close {
                    position: absolute;
                    top: 13px;
                    right: 13px;
                }

                &-title {
                    font-weight: bold;
                    max-width: 90%;
                }

                &-message {
                    margin-top: 5px;
                }
            }
        }
    }
    @mixin notify-content-mixin(
        $type,
        $borderSize,
        $borderColor
    ) {
        .notify-notification-content {
            border-top: $borderSize solid $borderColor;
            border-right: $borderSize solid $borderColor;
            border-bottom: $borderSize solid $borderColor;
        }
        @include notify-content-inner-mixin($type, $borderColor);
    }

    &-primary {
        @include notify-content-mixin('primary', 1px, $notify-color-primary);
    }

    &-success {
        @include notify-content-mixin('success', 1px, $notify-color-success);
    }

    &-warning {
        @include notify-content-mixin('warning', 1px, $notify-color-warning);
    }

    &-danger {
        @include notify-content-mixin('danger', 1px, $notify-color-danger);
    }
}