.notify-icon {
    width: $notify-icon-size;
    height: $notify-icon-size;
    margin: $notify-icon-margin;

    @mixin notify-icon-mixin($icon) {
        background: $icon no-repeat;
        background-size: $notify-icon-size;
    }

    &.notify-icon-primary {
        @include notify-icon-mixin($notify-icon-primary);
    }

    &.notify-icon-success {
        @include notify-icon-mixin($notify-icon-success);
    }

    &.notify-icon-warning {
        @include notify-icon-mixin($notify-icon-warning);
    }

    &.notify-icon-danger {
        @include notify-icon-mixin($notify-icon-danger);
    }
}