.notify-icon {
    width: $notify-icon-size;
    height: $notify-icon-size;
    margin-left: 15px;

    @mixin notify-icon-mixin($type) {
        background: url($notify-icon-path + $type + '.png') no-repeat;
        background-size: $notify-icon-size;
    }

    &.notify-icon-primary {
        @include notify-icon-mixin('primary');
    }

    &.notify-icon-success {
        @include notify-icon-mixin('success');
    }

    &.notify-icon-warning {
        @include notify-icon-mixin('warning');
    }

    &.notify-icon-danger {
        @include notify-icon-mixin('danger');
    }
}