// Colors
$notify-color-background: #ffffff;
$notify-color-primary: #4d9aff;
$notify-color-success: #59d9a4;
$notify-color-warning: #ffc400;
$notify-color-danger: #ff542e;
// Icon
$notify-icon-size: 20px;
$notify-icon-path: '../img/';
